$min-s-width: 460px;
$min-m-width: 660px;
$min-l-width: 900px;
$max-width: 1000px;

$xs-spacing-half: 8px;
$xs-spacing-full: 2 * $xs-spacing-half;
$xs-spacing-double: 4 * $xs-spacing-half;
$l-spacing-half: 12px;
$l-spacing-full: 2 * $l-spacing-half;
$l-spacing-double: 4 * $l-spacing-half;
$compat-spacing-half: 1.1%;
$compat-spacing-full: 2 * $compat-spacing-half;
$compat-spacing-double: 4 * $compat-spacing-half;


@mixin for-column-width($prefix, $width-property, $extend, $multi: 1,
                        $sub-px: 0px, $sub-percent: 0%) {
    @for $i from 1 through 12 {
        .#{$prefix}-#{$i} {
            @extend #{$extend};
            $width: (100% / 12) * $i * $multi;
            @if $sub-percent != null {
                #{$width-property}: $width - $sub-percent;
            }
            @if $sub-px != 0px {
                #{$width-property}: calc(#{$width} - #{$sub-px});
            }
        }
    }
}



%clear {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%container {
    @extend %clear;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    box-sizing: border-box;
}

.row {
    @extend %container;
    @extend %clear;
    box-sizing: border-box;
    padding: 0 $compat-spacing-half;
    padding: 0 calc(#{$xs-spacing-half});

    // Flexbox compatibility
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.nested-row {
    @extend .row;
    padding: 0;
    margin-left: -$compat-spacing-half;
    margin-left: calc(-#{$xs-spacing-half});
    width: 100% + $compat-spacing-full;
    width: calc(100% + #{$xs-spacing-full});
}

.full {
    @extend %container;
    display: block;
    padding: 0 $compat-spacing-full;
    padding: 0 calc(#{$xs-spacing-full});
}

@mixin column {
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 0 $compat-spacing-half;
    margin: 0 calc(#{$xs-spacing-half});
}
@mixin column-xs {
    @include column;
    margin: 0 calc(#{$xs-spacing-half});
}
@mixin column-l {
    @include column;
    margin: 0 calc(#{$l-spacing-half});
}
@mixin push-pull-column {
    position: relative;
}

%column-xs { @include column-xs; }
%push-pull-column-xs { @include push-pull-column; }
.xs-br { clear: left; }
.xs-nobr { clear: none; }
@include for-column-width(xs, width, '%column-xs', 1, $xs-spacing-full,
                          $compat-spacing-full);
@include for-column-width(push-xs, left, '%push-pull-column-xs');
@include for-column-width(pull-xs, left, '%push-pull-column-xs', -1);
.push-xs-0 { position: static; }
.pull-xs-0 { position: static; }


@media (min-width: $min-s-width) {
    %column-s { @include column-xs; }
    %push-pull-column-s { @include push-pull-column; }
    .s-br { clear: left; }
    .s-nobr { clear: none; }
    @include for-column-width(s, width, '%column-s', 1, $xs-spacing-full,
                              $compat-spacing-full);
    @include for-column-width(push-s, left, '%push-pull-column-s');
    @include for-column-width(pull-s, left, '%push-pull-column-s', -1);
    .push-s-0 { position: static; }
    .pull-s-0 { position: static; }
}


@media (min-width: $min-m-width) {
    %column-m { @include column-xs; }
    %push-pull-column-m { @include push-pull-column; }
    .m-br { clear: left; }
    .m-nobr { clear: none; }
    @include for-column-width(m, width, '%column-m', 1, $xs-spacing-full,
                              $compat-spacing-full);
    @include for-column-width(push-m, left, '%push-pull-column-m');
    @include for-column-width(pull-m, left, '%push-pull-column-m', -1);
    .push-m-0 { position: static; }
    .pull-m-0 { position: static; }
}


@media (min-width: $min-l-width) {
    %column-l { @include column-l; }
    %push-pull-column-l { @include push-pull-column; }
    %top-margin-half { margin-top: calc(#{$l-spacing-half}); }
    %bottom-margin-half { margin-bottom: calc(#{$l-spacing-half}); }
    %top-margin-full { margin-top: calc(#{$l-spacing-full}); }
    %bottom-margin-full { margin-bottom: calc(#{$l-spacing-full}); }
    %top-margin-double { margin-top: calc(#{$l-spacing-double}); }
    %bottom-margin-double { margin-bottom: calc(#{$l-spacing-double}); }
    .full { padding: 0 calc(#{$l-spacing-full}); }
    .row { padding: 0 calc(#{$l-spacing-half}); }
    .nested-row {
        padding: 0;
        margin-left: calc(-#{$l-spacing-half});
        width: calc(100% + #{$l-spacing-full});
    }
    .l-br { clear: left; }
    .l-nobr { clear: none; }
    @include for-column-width(xs, width, '%column-l', 1, $l-spacing-full, null);
    @include for-column-width(s, width, '%column-l', 1, $l-spacing-full, null);
    @include for-column-width(m, width, '%column-l', 1, $l-spacing-full, null);
    @include for-column-width(l, width, '%column-l', 1, $l-spacing-full,
                              $compat-spacing-full);
    @include for-column-width(push-l, left, '%push-pull-column-l');
    @include for-column-width(pull-l, left, '%push-pull-column-l', -1);
    .push-l-0 { position: static; }
    .pull-l-0 { position: static; }
}


%top-margin-half {
    margin-top: $compat-spacing-half;
    margin-top: calc(#{$xs-spacing-half});
}
%bottom-margin-half {
    margin-bottom: $compat-spacing-half;
    margin-bottom: calc(#{$xs-spacing-half});
}
%v-margin-half {
    @extend %top-margin-half;
    @extend %bottom-margin-half;
}
%top-margin-full {
    margin-top: $compat-spacing-full;
    margin-top: calc(#{$xs-spacing-full});
}
%bottom-margin-full {
    margin-bottom: $compat-spacing-full;
    margin-bottom: calc(#{$xs-spacing-full});
}
%v-margin-full {
    @extend %top-margin-full;
    @extend %bottom-margin-full;
}
%top-margin-double {
    margin-top: $compat-spacing-double;
    margin-top: calc(#{$xs-spacing-double});
}
%bottom-margin-double {
    margin-bottom: $compat-spacing-double;
    margin-bottom: calc(#{$xs-spacing-double});
}
%v-margin-double {
    @extend %top-margin-double;
    @extend %bottom-margin-double;
}

@media (min-width: $min-l-width) {
    %top-margin-half { margin-top: calc(#{$l-spacing-half}); }
    %bottom-margin-half { margin-bottom: calc(#{$l-spacing-half}); }
    %top-margin-full { margin-top: calc(#{$l-spacing-full}); }
    %bottom-margin-full { margin-bottom: calc(#{$l-spacing-full}); }
    %top-margin-double { margin-top: calc(#{$l-spacing-double}); }
    %bottom-margin-double { margin-bottom: calc(#{$l-spacing-double}); }
}
