$notation-bar-margin: $big-space;

.timer-view {
    position: relative;
    transition: top 1s;

    .head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        font-weight: bold;
        text-align: center;
        padding-top: $notation-bar-margin;

        .challenge-title {
            font-size: 20px;
            margin: 0 12px $notation-bar-margin 12px;
            width: 100%;

            span {
                font-weight: normal;
                font-style: italic;
                margin-left: 5px;
            }
        }

        .time-signature {
            flex: 0 1 auto;
            line-height: 85%;
            font-size: 20px;
            margin: 0 12px;
        }

        @media (min-width: $notation-width) {
            flex-wrap: nowrap;

            .time-signature {
                order: -1;
            }

            .challenge-title {
                width: auto;
                margin-bottom: 0;
            }
        }

        .metronome-intro {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-content: flex-start;
            align-items: center;
            margin: 0 6px;

            div {
                border-radius: 50%;
                background-color: black;
                color: white;
                opacity: 0.25;

                width: 19px;
                height: 19px;
                font-size: 14px;
                margin: 0 4px;

                display: flex;
                justify-content: center;
                align-items: center;

                &.intro-highlight {
                    opacity: 1;
                }
            }
        }

        @media (min-width: $min-s-width) {
            .time-signature {
                font-size: 24px;
            }

            .metronome-intro {
                div {
                    width: 21px;
                    height: 21px;
                    font-size: 16px;
                    margin: 0 5px;
                }
            }
        }
    }

    .bar {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        margin: $notation-bar-margin 0;
        padding-left: 8px;

        &::before {
            left: 0;
            top: 0;
            position: absolute;
            content: "";
            height: 56%;
            width: 100%;
            border-bottom: 1px solid #999;
        }

        .group {
            display: inline-flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            min-width: 0;
            margin-right: auto;

            &:last-child {
                margin-right: 0;
            }
        }

        .item {
            position: relative;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            width: 30px;
            height: 100%;
            margin-right: auto;

            &:last-child {
                margin-right: 0;
            }

            @media (min-width: $min-s-width) {
                width: 36px;
            }

            @media (min-width: $notation-width) {
                width: 40px;
            }
        }

        .divider {
            width: 0;
            height: auto;
            margin-top: 10px;
            margin-bottom: 20px;
            border-left: 1px solid #999;
        }

        .indicator-inner {
            fill-opacity: 0.3;
        }

        .indicator-outer {
            fill-opacity: 0;
        }

        .note-highlight .indicator-inner {
            fill: #005dff;
            fill-opacity: 1;
        }

        .note-highlight .indicator-outer {
            fill: #0033fc;
            fill-opacity:0.26;
        }

        .note-highlight-correct .indicator-inner {
            fill: #009a29;
            fill-opacity: 1;
        }

        .note-highlight-correct .indicator-outer {
            fill: #0bd300;
            fill-opacity:0.36;
        }

        .note-highlight-fail .indicator-inner {
            fill: #d33f00;
            fill-opacity: 1;
        }

        .note-highlight-fail .indicator-outer {
            fill: #d35300;
            fill-opacity: 0.36;
        }

        .flag {
            position: absolute;
            left: -15px;
            top: -webkit-calc(56% - 7px);
            top: -moz-calc(56% - 7px);
            top: calc(56% - 7px);
            width: 15px;
            height: 15px;
            background-color: rgba(0,0,0,0.3);
            mask: url(flag.svg);
            -webkit-mask-image: url(flag.svg);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            -webkit-mask-position: center;
            mask-image: url(flag.svg);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
            transform: scale(1.0);
        }

        .play-note {
            position: absolute;
            left: -5px;
            top: -10px;
            font-style: italic;
            // font-weight: bold;
            font-size: 14px;

            @media (min-width: $notation-width) {
                font-size: 16px;
            }
        }
        .play-note.higher {
            top: -20px;
        }

        @keyframes highlight-flag {
            33% {
                background-color: #d35300;
                transform: scale(1.5);
            }
        }

        .flag.highlight {
            animation: highlight-flag 3s linear 0s 1 normal;
        }
    }
}
