.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    transition-duration: 500ms;

    .menu-challenges {
        max-width: $min-l-width;
        padding: $big-space / 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    .menu-title {
        font-size: 30px;
        text-shadow: 4px 4px 1px #bef1ff;
        font-style: italic;
        margin: $big-space $big-space 0 $big-space;

        @media (min-width: $min-m-width) {
            font-size: 34px;
            margin: $big-space + 10px $big-space 10px $big-space;
        }

        @media (min-width: $min-l-width) {
            font-size: 38px;
            margin: $big-space + 10px $big-space 10px $big-space;
        }
    }

    .menu-challenge-entry {
        display: block;
        border-radius: 5px;
        padding: 10px 15px;
        transition: box-shadow 300ms;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.05);
        border-bottom: 3px solid rgba(0, 0, 0, 0.15);
        color: rgba(0, 0, 0, 0.3);
        flex: 0 0 auto;
        box-sizing: border-box;

        height: 110px;
        margin: $big-space / 2;
        width: calc(100% - #{$big-space});
        &:hover {
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }

        @media (min-width: $min-m-width) {
            width: calc(50% - #{$big-space});
        }
        @media (min-width: $min-l-width) {
            width: calc(33.333% - #{$big-space});
        }

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .menu-challenge-title {
        font-size: 22px;
    }

    .menu-challenge-info {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;

        .menu-challenge-difficulty {
            font-size: 22px;
        }
    }
}

footer {
    font-family: monospace;
    font-size: 12.5px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
    margin: 15px 0 10px 0;
    align-items: center;
    color: #666;

    @media (min-width: $min-l-width) {
        flex-flow: row wrap;
    }

    > * {
        margin: 2px 10px;
    }

    a {
        color: #666;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.game-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    @media (min-width: $min-l-width) {
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
    }

    .game-menu {
        flex: 0 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 0;
        transition: opacity 1s;
        border-bottom: 1px solid rgba(0,0,0,0.1);

        background: white;
        z-index: 10;
        @supports (backdrop-filter: blur(10px)) {
            backdrop-filter: blur(10px);
            background: rgba(255,255,255,0.70);
        }

        @media (min-width: $min-l-width) {
            backdrop-filter: none;
            background: none;
            align-items: flex-start;
            justify-content: center;
            align-content: stretch;
            flex-direction: column;
            border-bottom: 0;
        }

        button, a {
            flex: 0 1 auto;
            align-self: stretch;
            border: 0;
            padding: 0;
            border: 0;
            background: none;
            cursor: pointer;

            &::-moz-focus-inner {
                border: 0;
            }
            &:focus {
                outline: 0;
                border: 0;
                img {
                    opacity: 0.25;
                }
            }
            &:hover {
                img {
                    opacity: 0.35;
                }
            }
            &.hidden {
                img {
                    opacity: 0.08;
                }
            }
            &.disabled-on-l {
                display: initial;
            }

            img {
                width: 100%;
                height: auto;
                opacity: 0.25;
                transition: opacity 200ms;
            }

            @media (min-width: $min-l-width) {
                img {
                    opacity: 0.15;
                }

                &:hover {
                    img {
                        opacity: 0.45;
                    }
                }
                &.hidden {
                    img {
                        opacity: 0;
                    }
                }
                &.disabled-on-l {
                    display: none;
                }
            }
        }

        .score {
            flex: 0 1 auto;
            align-self: stretch;
            padding: 7px 0;
            min-width: 50px;
            margin: 14px 8px 16px 8px;
            color: rgba(0,0,0,0.8);
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            background-color: rgba(0,0,0,0.25);
            @media (min-width: $min-l-width) {
                background-color: rgba(0,0,0,0.15);
            }

            .curr-score {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                transition: transform 500ms, opacity 1000ms;
                transition-timing-function: ease-in;
            }
        }
    }

    @media (min-width: $min-l-width) {
        &::after {
            content: "";
        }
        .game-menu, &::after {
            width: 80px;
            padding: $big-space;
        }
    }

    .game-view {
        box-sizing: border-box;
        width: 100%;
        max-width: $notation-width;
        padding: 0 20px;
        position: relative;

        .modal {
            position: absolute;
            top: 150px;
            left: 50%;
            max-width: 60%;
            transform: translate(-50%, -50%);
            transition: opacity 400ms, transform 400ms;
            background: rgba(0, 0, 0, 0.75);
            color: white;
            border-radius: 5px;
            padding: 16px;
            font-size: 30px;
            text-align: center;
            @supports (backdrop-filter: blur(10px)) {
                backdrop-filter: blur(5px);
                background: rgba(0, 0, 0, 0.7);
            }

            div {
                font-style: italic;
                font-size: 16px;
            }
        }

        .timer-view-container {
            position: relative;
            perspective: 1000px;

            .timer-view, .result-view {
                backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                width: 100%;
                top: 0;
                left: 0;
                transform-style: preserve-3d;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .result-view {
                font-size: 20px;
                line-height: 250%;
                padding: $big-space;
                text-align: center;
                background: rgba(0,0,0,0.1);
                border-bottom: 3px solid rgba(0,0,0,0.1);
                border-radius: 0 0 25px 25px;

                .big {
                    font-size: 160%;
                }

                .it {
                    font-style: italic;
                }
            }
        }
    }
}
